html
    head
        title= title
    style
        include not-logged.css
    body
        h1= message
        div(class="header")
            form(action="/" method="POST")
                input(type='text', placeholder='enter your nick', name='nick')
                input(type="hidden" name="_csrf" value=token)
                input(type="submit", name="login", value="Log in")

        h1="the most expensive memes"
        ul
            each meme in memes
                li
                    a(href="./history/" + meme.url)
                        img(src="./assets/" + meme.url)
