html
    head
        title= title
        style
            include history.css
    body
        img(src='../../assets/' + url)
        table
            tr
                th date
                th price
            each moment in history
                tr
                    td #{moment.date}
                    td #{moment.price}

        div(class='pageViews')="you have already visited " + pageViews + " pages at the market"